In [11]:
#Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series
#import pandas as pd
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [15]:
# Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the 
#variable print it


my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(my_list)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [17]:
data={'name':['alice','bob','claire'],
      'age':[25,30,27],
      'gender':['female','male','female']
     }
df=pd.DataFrame(data)
print(df)

     name  age  gender
0   alice   25  female
1     bob   30    male
2  claire   27  female

In [18]:
#A Series is a one-dimensional labeled array that
# can hold any data type such as integers
#, floats, strings, etc
print("""A Series is a one-dimensional
labeled array that can hold any data
type such as integers, floats, strings, etc""")

A Series is a one-dimensional
labeled array that can hold any data
type such as integers, floats, strings, etc

In [19]:
print("""A DataFrame is a
two-dimensional labeled data structure 
that consists of rows and columns""")

A DataFrame is a
two-dimensional labeled data structure
that consists of rows and columns

In [22]:
my_series=[2,4,6,8,10,12,14,16]
dd=pd.Series(my_series)
print(dd)
my_frame={'mentor':['sudh sir','krish sir','xyz sir'],
         'age':[30,32,28],
         'fgame':['criket','footbal','ludo']}
df=pd.DataFrame(my_frame)
print(df)

0     2
1     4
2     6
3     8
4    10
5    12
6    14
7    16
dtype: int64
      mentor  age    fgame
0   sudh sir   30   criket
1  krish sir   32  footbal
2    xyz sir   28     ludo

In [ ]:
#. What are some common functions you can
# use to manipulate data in a Pandas DataFrame?
#Can 
#you give an example of when you might use 
#one of these functions?
print("""head() and tail():
These functions are used to view the first or last few rows of
a DataFrame. For example:""")
df=pd.read_csv("name")
df.head()
df.tail()
#info function is use to get infomation
df.info()
df.describe()

In [24]:
#Which of the following is mutable
# in nature Series, DataFrame, Panel
print("In pandas, Series and DataFrame are mutable in nature,")

In pandas, Series and DataFrame are mutable in nature,

In [25]:
#. Create a DataFrame using multiple Series. Explain with an example
data={'name':pd.Series(['somu','milind','rohit']),
     'best freind':pd.Series(['naveen','harsh','avinash']),
     'age':pd.Series([20,20,21])}
df=pd.DataFrame(data)
df

     name best freind  age
0    somu      naveen   20
1  milind       harsh   20
2   rohit     avinash   21