In [1]:
#explain with an example each when to use
#for loop and a while loop

In [2]:
print("for loop is use to iterate over the list,tuple or array ")
l=[1,2,3,4,5,6,7,8,9,]
for i in l:
    print(i)

for loop is use to iterate over the list,tuple or array
1
2
3
4
5
6
7
8
9

In [8]:
print("while loop perform under the cundition")
n=0
while n<=5:
    print(n)
    n=n+1

while loop perform under the cundition
0
1
2
3
4
5

In [ ]:
#whrite a python programto print sum and product
#of the first 10 natural number using for 
#and while loop

In [ ]:
#using for loop sum and product

In [ ]:
#sum

In [19]:
result=0
for i in range(1,11):
    result=result+i
    print(result)

1
3
6
10
15
21
28
36
45
55

In [ ]:
#product

In [20]:
result=1
for i in range(1,11):
    result=result*i
    print(result)

1
2
6
24
120
720
5040
40320
362880
3628800

In [ ]:
#sum and product using while loop

In [ ]:
#sum

In [ ]:
n=0
result=0
while n<11:
    result=result+n
    n+=1
    print(result)

In [ ]:
#product

In [ ]:
n=1
result=1
while n<11:
    result=result*n
    n+=1
    print(result)

In [ ]:
#creat a list of numbers from 1 to 100 
#using for and while loop find 
#cube 
#if cube is divisible by 4 or 5 then
#append that number in list

In [2]:
# for loop
#create a list of number from 1 to 100
numders=list(range(101))
cubes=[]
for num in numders:
    cube=num**3
    if cube %4==0 or cube%5==0:
        cubes.append(num)
print(cubes)

[0, 2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [2]:
numbers=list(range(101))
cubes=[]
i=0
while i<len(numbers):
    num=numbers[i]
    cube=num**3
    if cube%4==0 or cube%5==0:
        cubes.append(num)
    i+=1
print(cubes)

[0, 2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [ ]:
#whrite a program to filter count vowels in the 
#belows-given string 
#string =" i want to become a data scientist"

In [3]:
string="i want to become a data scientist"
vowels=['a','e','i','o','u']
vowels_count=0
for char in string:
    char_lower=char.lower()

    if char_lower in vowels:
        vowels_count+=1
print("number of vowels",vowels_count)

number of vowels 12

In [ ]:
'''create a python program to compute the electricity bill for a household
the per unit charge in rupees are as follows: for first 100 units the user will be charged RS.4.5 per
unit for the next 100 units ,the user will be charged RS.6 per units and for
next 100 units, the user will be charged RS.10 per units after 300 units and above the
user will be charged RS.20 per unit
you are required to take the units of electricity consumed in a month from the user as input'''

In [4]:
units=int(input("enter the number of units in a month"))

enter the number of units in a month 310

NameError: name 'p1' is not defined