In [27]:
#create a python program to sort the list of tuple based on integer value using a lambda function

l=[('sachin tendulkar',34357),('ricky ponting',27483),('jack kallis',25534),('virat kohli',24936)]
lambda x:x.sort(l),l

(<function __main__.<lambda>(x)>,
 [('sachin tendulkar', 34357),
  ('ricky ponting', 27483),
  ('jack kallis', 25534),
  ('virat kohli', 24936)])

In [22]:
#whrite a python program to find the squres of all the number in the given list of integer using 
#lamda and map functions
l=[1,2,3,4,5,6,7,8,9,10]
def sq(x):
    return x**2
list(map(sq,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [11]:
l=[1,2,3,4,5,6,7,8,9,10]
sr=lambda x:x**2,l
sr

(<function __main__.<lambda>(x)>, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [16]:
#whrite a program to vonver the given list of integer into tuple of string .use map and
#lambda function
l1=[1,2,3,4,5,6,7,8,9,10]
tuple(map(lambda l1:str(l1),l1))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [18]:
# whrite program using reduce function  to compute the product of a list containing numbers from 1 to25
from functools import reduce
l2=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
reduce(lambda x,y:x*y,l2)

15511210043330985984000000

In [19]:
#whrite a  python progarm to filter the numbers in a given list that are divisible by2 and 3
#using the filter function
l3=[2,3,6,9,27,60,90,120,55,46]
list(filter(lambda x:x%2 and x%3 ==0,l3))

[3, 9, 27]

In [26]:
#whrite a program to find palindromes in the given list of string using lambda and filter function 
l4=['python','php','aba','radar','level']
list(filter(lambda x:str(l4),l4))

['python', 'php', 'aba', 'radar', 'level']